.App {
	text-align: center;
}

:root{
	--base-bg: #23305A;
	--base-font-color: white;
	--subtext-font-color: grey;
	--scrollbar-thumb-color: #00A4FF;
	--control-bg: #3E477E99;
	--option-bg: #3E477E;
	--card-bg: #D9D9D912;
	--input-placeholder: #a1a1a199;
	--arrow-bg: #8080804f;
	--transparent: #00000050;
	--tag-border-color:#989898;
	--btn-highlight: #00A4FF;
	--white: #fff;
	--title-font-size: 1.8rem;
	--subtitle-font-size: 1.4rem;
	--text-font-size: 1.1rem;
	--subtext-font-size: .9rem;
	--absolute-font-medium: 14px;
	--absolute-font-small: 10px;
  }
